
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.header_title {
  display: flex;
  gap: 12px;
  align-items: center;
}
