#people-table {
  width: 100%;
  flex-grow: 1;
}

tr.mat-row, tr.mat-footer-row {
  height: 58px;
  vertical-align: middle;
}

.people-table-button-container {
  display: flex;
  gap: 12px;
}

.mat-column-actions {
  width: 10%;
}
