#add-person__container{
  padding: 26px;
  display: flex;
  justify-content: center;
}

#add-person__card-container {
  max-width: max-content;
}

.add-person__inputs-container {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.add-person-full-width  {
  width: 100%;
}

